@import url('https://fonts.cdnfonts.com/css/fakt-pro');
@import url('https://fonts.cdnfonts.com/css/georgia');
                
body {
  font-family: 'Fakt Pro', sans-serif;
}
.alt-font{
  font-family: 'Georgia', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portfolio-preview {
  background-color: #0C0D10;
}
.portfolio-preview grid {}
.portfolio-preview grid:nth-child(odd) {
  background-color: black;
}


/* app-header */
.app-header nav{
  transition: .3s;
}
.app-header>nav.sticky{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
}
/* app-header END */

/* project-page-sidebar */
@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:right"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}
/* project-page-sidebar END */


